<p>AARCO</p>
<div>
  <label>Marca:</label>
  <select [(ngModel)]="selectedMarca" (ngModelChange)="onMarcaChange()">
    <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.Marca1}}</option>
  </select>
</div>
<div *ngIf="selectedMarca">
  <label>Submarca</label>
  <select [(ngModel)]="selectedSubmarca" (ngModelChange)="onSubmarcaChange()">
    <option *ngFor="let submarca of submarcas" [ngValue]="submarca">{{submarca.Submarca1}}</option>
  </select>
</div>
<div *ngIf="selectedSubmarca">
  <label>Modelo:</label>
  <select [(ngModel)]="selectedModelo">
    <option *ngFor="let modelo of modelos" [ngValue]="modelo">{{modelo.Modelo1}}</option>
  </select>
</div>
<div *ngIf="selectedModelo">
  <label>Descripcion:</label>
  <select [(ngModel)]="selectedDescripcion">
    <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion">{{descripcion.DescricpcionId}}</option>
  </select>
</div>
